# Dependencies
node_modules/

# Environment variables
.env
backend/.env
frontend/.env

# Builds
dist/
build/
frontend/dist/
frontend/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads
uploads/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/